.chart-section {
    background-color: var(--darkgrey);
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100%;
}

@media screen and (max-width:1080px) {
    .chart-section {
        height: 30vh;
        padding: 0;
    }
}