.desc-container {
    background-color: var(--darkgrey);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: 1rem;
    /* border: 1px solid red; */
}

.desc-container h1 {
    font-size: 1.5rem;
}

.desc-container p {
    font-weight: 200;
    /* display: flex;
    flex-direction: column;
    gap: 0.5rem; */
}

.desc-container span:hover {
    cursor: pointer;
}

.desc-container span {
    color: var(--green);
    text-decoration: underline;
}

.desc-container p a {
    color: var(--green);
    font-weight: 400;
    text-decoration: none;
}