.grid-values {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-evenly;
    width: 100%;
}

.list-values {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.not-found {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}